.mark00,
.mark01,
.mark02,
.mark03,
.mark04,
.mark05,
.mark06,
.mark07,
.mark08,
.mark09 {
  color: #666;
  background: #ff0;
  box-shadow: 0 0 0 2px #ff0;
}
.mark10,
.mark11,
.mark12,
.mark13,
.mark14,
.mark15,
.mark16,
.mark17,
.mark18,
.mark19 {
  color: #666;
  background: #ffc501;
  box-shadow: 0 0 0 2px #ffc501;
}
.mark20,
.mark21,
.mark22,
.mark23,
.mark24,
.mark25,
.mark26,
.mark27,
.mark28,
.mark29 {
  color: #666;
  background: #b5fa01;
  box-shadow: 0 0 0 2px #b5fa01;
}
.mark30,
.mark31,
.mark32,
.mark33,
.mark34,
.mark35,
.mark36,
.mark37,
.mark38,
.mark39 {
  color: #49186d;
  background: #fd13f0;
  box-shadow: 0 0 0 2px #fd13f0;
}
.mark40,
.mark41,
.mark42,
.mark43,
.mark44,
.mark45,
.mark46,
.mark47,
.mark48,
.mark49 {
  color: #666;
  background: #fff5cc;
  box-shadow: 0 0 0 2px #fff5cc;
}
.mark50,
.mark51,
.mark52,
.mark53,
.mark54,
.mark55,
.mark56,
.mark57,
.mark58,
.mark59 {
  color: #5d0100;
  background: #ffa0a0;
  box-shadow: 0 0 0 2px #ffa0a0;
}
.mark60,
.mark61,
.mark62,
.mark63,
.mark64,
.mark65,
.mark66,
.mark67,
.mark68,
.mark69 {
  color: #666;
  background: #dae0ff;
  box-shadow: 0 0 0 2px #dae0ff;
}
.mark70,
.mark71,
.mark72,
.mark73,
.mark74,
.mark75,
.mark76,
.mark77,
.mark78,
.mark79 {
  color: #49186d;
  background: #edd3ff;
  box-shadow: 0 0 0 2px #edd3ff;
}
.mark80,
.mark81,
.mark82,
.mark83,
.mark84,
.mark85,
.mark86,
.mark87,
.mark88,
.mark89 {
  color: #5d0100;
  background: #b8dbec;
  box-shadow: 0 0 0 2px #b8dbec;
}
.mark90,
.mark91,
.mark92,
.mark93,
.mark94,
.mark95,
.mark96,
.mark97,
.mark98,
.mark99 {
  color: #ffeef7;
  background: #34222c;
  box-shadow: 0 0 0 2px #34222c;
}

mark[data-markjs="true"][data-active="true"] {
  color: #303b49;
  background-color: #abd1ff;
  box-shadow: 0 0 0 2px #96bbe8;
}
