body {
  margin: 0;
  color: #8e8e8e;
  width: 500px;
}
body,
input {
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
select,
input {
  outline: none;
}
select {
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-radius: 0;
  color: #6e6e6e;
  text-align-last: center;
}
input[type=button] {
  border: none;
  width: 24px;
  height: 24px;
  background-size: 13px !important;
  cursor: pointer;
}
input[type=button]:disabled {
  opacity: 0.5;
}
select:hover,
input[type=button]:not(:disabled):hover {
  background-color: rgba(0, 0, 0, 0.05) !important;
}

#form {
  display: flex;
  align-items: center;
}
#backward {
  background: url('up.svg') no-repeat center center;
  margin-left: 5px;
}
#forward {
  background: url('up.svg') no-repeat center center;
  transform: rotate(180deg);
}
#close {
  background: url('close.svg') no-repeat center center;
  margin-right: 5px;
}
#search {
  background-color: transparent;
  border: none;
  padding: 0 10px;
  flex: 1;
}
#search[data-clean="false"] {
  color: #ec3a3a;
}
#stat {
  padding-right: 10px;
}
.sep {
  border-right: dotted 1px #dcdcdc;
  height: 20px;
  width: 1px;
}
